{% comment %} include lab-card.html lab=<lab page> {% endcomment %}
{% assign lab = include.lab %}
<a class="lab-card lab-card--{{ lab.difficolta }}" href="{{ site.baseurl }}{{ lab.url }}">
  <div class="lab-card__body">
    <div class="lab-card__title">{{ lab.title }}</div>
    <div class="lab-card__obj">{{ lab.objective }}</div>
    <div class="lab-card__tags">
      <span class="tag tag--diff tag--{{ lab.difficolta }}">{{ lab.difficolta }}</span>
      <span class="tag tag--lang">{{ lab.language }}</span>
      <span class="tag tag--modulo">mod. {{ lab.modulo }}</span>
    </div>
  </div>
</a>
